body {
    margin: 0;
    font-family: sans-serif;
    background: #eef;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.left {
    width: 40%;
}

textarea {
    width: 90%;
    height: 150px;
    font-size: 1.2em;
}

.right {
    position: relative;
    width: 50%;
    text-align: center;
}

.bd-container {
    position: relative;
    display: inline-block;
}

.bd-container img {
    width: 300px;
}

.bubble {
    position: absolute;
    top: 20px;
    left: 50px;
    width: 200px;
    min-height: 50px;
    padding: 10px;
    background: white;
    border: 3px solid black;
    border-radius: 15px;
    font-family: Comic Sans MS, cursive;
    font-size: 18px;
    color: black;
    image-rendering: pixelated; /* pixel style */
    filter: blur(1px); /* effet basse qualité */
}
