/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sora', sans-serif;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    background: #05071a;
    overflow-y: scroll;
}

/* Keyframes for background color animation *

/* Navigation Bar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background-color: rgba(18, 18, 18, 0); /* Transparent background */
    backdrop-filter: blur(10px); /* Adds blur effect */
}

.logo {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.nav-links a:hover {
    opacity: 1;
}

/* Header Section */
header {
    text-align: center;
    max-width: 700px;
}

h1 {
    font-size: 65px; /* Main title font size */
    font-weight: 700;
    color: #FFFFFF;
    
    /* New additions for a larger appearance */
    letter-spacing: 2px; /* Spacing between letters */
    line-height: 1; /* Adjust line-height for spacing */
    max-width: 10000px; /* Wider maximum width for the title */

    margin: 0; /* Remove any default margins */
}


.highlight {
    color: #b7cfff; /* Highlight color */
    font-weight: 800;
    text-shadow: 0 0 10px #b7cfff;
}

p {
    font-size: 1.1rem;
    color: #AAAAAA;
    margin-top: 20px;
    line-height: 1.5;
}

.cta-button {
    margin-top: 20px;
    background-color: #b7cfff;
    color: #FFFFFF;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 0 10px #b7cfff;
}

.cta-button:hover {
    background-color: #a3b8ff;
    box-shadow: 0 0 15px #b7cfff;
}

.compatibility {
    font-size: 0.9rem;
    color: #888888;
    margin-top: 10px;
    font-family: 'Source Code Pro', monospace;
}

/* Center Content Vertically */
html, body {
    height: 100%;
}

/* Features Section */
/* Features Section */
